@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

@if(Model.Succeeded)

{
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/ForgotPassword"> Reset Your Password Now </a>
}